<ion-item lines="none" button (click)="sendBenefit(benefit)">
  <ion-label class="ion-no-margin">
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-no-padding ion-justify-content-center ion-align-items-center"> 
        <ng-container *ngIf="index % 2; else odd">
          <ion-col size="4" class="ion-no-padding">
            <ion-img [src]="benefit.img"></ion-img>
          </ion-col>
          <ion-col size="8">
            <h3 class="benefit-name"><ion-icon name="caret-forward"></ion-icon>{{ benefit.name }}</h3>
          </ion-col>
        </ng-container>
        <ng-template #odd>
          <ion-col size="8" class="ion-no-padding">
            <h3 class="benefit-name"><ion-icon name="caret-forward"></ion-icon>{{ benefit.name }}</h3> 
          </ion-col>
          <ion-col size="4" class="ion-no-padding">
            <ion-img [src]="benefit.img"></ion-img>
          </ion-col>
        </ng-template>
      </ion-row>
    </ion-grid>
  </ion-label>
</ion-item>