<ion-content fullscreen="true">
  <div class="background">
    <img class="logo-image" src="assets/logo.png" alt="Wellness">
    <div class="title">
      SERVICIOS PROFESIONALES DE BIENESTAR
    </div>
    <div class="grid-container">
      <form [formGroup]="loginForm" (submit)="login()">
        <ion-grid>
          <ion-row>
            <ion-col size="10" offset="1">
              <ion-item>
                <!-- <ion-label position="fixed">Usuario</ion-label> -->
                <ion-input type="text" placeholder="Usuario" formControlName="username" clearInput></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="10" offset="1">
              <ion-item>
                <!-- <ion-label position="fixed">Contraseña</ion-label> -->
                <ion-input type="password" placeholder="Contraseña" formControlName="password" clearInput></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="10" offset="1">
              <ion-button type="submit" expand="block" color="success">INGRESAR</ion-button>
            </ion-col>
            <ion-col size="10" offset="1">
              <ion-button expand="block" color="wellness" routerLink="/create-account" routerDirection="forward">CREAR CUENTA</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </div>
  </div>
</ion-content>
<app-footer-login></app-footer-login>
<!-- <ion-footer>
  <ion-toolbar color="wellness" class="ion-text-center">
    <a style="color: white;">¿Necesitas ayuda para ingresar?</a>
  </ion-toolbar>
</ion-footer> -->