.contact-text{
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.2em;
  text-align: justify;
}

.logo-image{
  margin: 0 auto;
}
.buttons {
  ion-button{
    height: 50px;
  }
  p{
    font-weight: bold;
  }
}
