<ion-header color="wellness">
  <ion-toolbar color="wellness">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <app-page-title></app-page-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-text-center grid-title">
        <ion-text color="wellness">Programa de Asistencia al Empleado <br> Áreas de Consulta</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item lines="full" *ngIf="isLoading; else loaded">
            <ion-label class="ion-text-center">
              <ion-spinner></ion-spinner>
            </ion-label>
          </ion-item>
          <ng-template #loaded>
            <ion-item lines="full" *ngIf="benefits.length <= 0">
              <ion-label class="ion-text-center">
                No hay beneficios registrados para la empresa.
              </ion-label>
            </ion-item>
            <app-benefit-item *ngFor="let benefit of benefits; let i = index" [benefit]="benefit" [index]="i" (emitBenefit)="actionBenefit($event)"></app-benefit-item>
          </ng-template>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
